.Container{
    background-color: #ededed;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.WeatherCard{
    position: relative;
    min-width: 70px;
    box-shadow: 0 1px 3px 0 #999999;
    background-color: #f9f9f9;
    box-sizing: border-box;
    padding: 30px 15px;
}
.Location {
    font-size: 28px;
    color: #212121;
    margin-bottom: 20px;
}
.Description {
  font-size: 16px;
  color: #828282;
  margin-bottom: 30px;
}

.CurrentWeather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.Temperature {
  color: #757575;
  font-size: 96px;
  font-weight: 300;
  display: flex;
}

.Celsius {
  font-weight: normal;
  font-size: 42px;
}